body {
  background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  background-size: cover;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 2.5em;
  margin: 0;
  color: white;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

input[type="text"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

input[type="adio"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4f5d75;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.question-box {
  text-align: left;
  width: 100%;
}

.option {
  display: block;
  margin: 10px 0;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.timer {
  font-weight: bold;
}
.timer.orange {
  color: orange;
}
.timer.red {
  color: red;
  animation: blink 1s step-end infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
